#u287-2,#u287-3,#u284-2
{
	font-family: lato-n7, sans-serif;
}

#u287-8,#u284-4
{
	font-family: lato-n4, sans-serif;
}

#u1053-4
{
	font-family: lato-n4, sans-serif;
}

#u1052-4
{
	font-family: lato-n4, sans-serif;
}

#u1090-4
{
	font-family: lato-n4, sans-serif;
}

#u1089-4
{
	font-family: lato-n4, sans-serif;
}

#u1078-4
{
	font-family: lato-n4, sans-serif;
}

#u1079-4
{
	font-family: lato-n4, sans-serif;
}

#u1086-4
{
	font-family: lato-n4, sans-serif;
}

#u1085-4
{
	font-family: lato-n4, sans-serif;
}

#u1068-4
{
	font-family: lato-n4, sans-serif;
}

#u1067-3
{
	font-family: lato-n4, sans-serif;
}

#u1074-4
{
	font-family: lato-n4, sans-serif;
}

#u1075-3
{
	font-family: lato-n4, sans-serif;
}

#u1047-4
{
	font-family: lato-n4, sans-serif;
}

#u1046-4
{
	font-family: lato-n4, sans-serif;
}

#u1057-4
{
	font-family: lato-n4, sans-serif;
}

#u1056-4
{
	font-family: lato-n4, sans-serif;
}

#widgetu1049_input,#widgetu1049_prompt,#widgetu1087_input,#widgetu1087_prompt,#widgetu1077_input,#widgetu1077_prompt,#widgetu1082_input,#widgetu1082_prompt,#widgetu1066_input,#widgetu1072_input,#widgetu1044_input,#widgetu1044_prompt,#widgetu1054_input,#widgetu1054_prompt
{
	font-family: lato, sans-serif;
}

#u1041-4,#u901-4
{
	font-family: lato-n9, sans-serif;
}

#u376-9,#u378-7,#u379-7
{
	font-family: lato-n4, sans-serif;
}

