#u603-4,#u635-4
{
	font-family: lato-n4, sans-serif;
}

#u634-4
{
	font-family: lato-n4, sans-serif;
}

#u611-4
{
	font-family: lato-n4, sans-serif;
}

#u609-4
{
	font-family: lato-n4, sans-serif;
}

#u673-4
{
	font-family: lato-n4, sans-serif;
}

#u674-4
{
	font-family: lato-n4, sans-serif;
}

#widgetu633_input,#widgetu633_prompt,#widgetu608_input,#widgetu608_prompt,#widgetu671_input,#widgetu671_prompt
{
	font-family: lato, sans-serif;
}

#u719-4,#u724-4
{
	font-family: lato-n4, sans-serif;
}

