.html
{
	background: #7F7F7F url("../images/fundo-pagina-de-cadastro-01.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
}

#pu1186
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u1186
{
	z-index: 2;
	width: 1024px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 100px;
}

#u1282
{
	z-index: 21;
	width: 1224px;
	margin-right: -10000px;
	margin-top: 185px;
}

#u1284
{
	z-index: 23;
	width: 1224px;
	padding-bottom: 29px;
	margin-right: -10000px;
}

#u1284_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u1285
{
	z-index: 24;
	width: 304px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 460px;
}

#u1285_clip
{
	width: 304px;
	height: 124px;
}

#u1285_img
{
	margin-left: -5px;
	margin-right: -6px;
}

#u1277
{
	z-index: 4;
	width: 1224px;
	left: -100px;
	top: -2px;
}

#u1277_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
	padding-top: 32px;
	padding-bottom: 136px;
	margin-bottom: -2px;
}

#pu1279-8
{
	width: 0.01px;
	left: 117px;
	position: relative;
}

#u1279-8
{
	z-index: 11;
	width: 871px;
	min-height: 41px;
	margin-right: -10000px;
}

#u1280
{
	z-index: 19;
	width: 91px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 893px;
}

#u1278-6
{
	z-index: 5;
	width: 1000px;
	min-height: 202px;
	left: 117px;
	margin-top: 22px;
}

#page .verticalspacer
{
	clear: both;
}

